spring:
  application:
    name: AllianceSeedsApi
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/allianceSeeds
    username: ${DATABASE_USERNAME:allianceSeeds_admin}
    password: ${DATABASE_PASSWORD:T00l8ox4}
    driver-class-name: org.postgresql.Driver


  jpa:
    generate-ddl: true
    hibernate:
      dll-auto: update


  mail:
    host: ${EMAIL_HOST_SERVER:smtp.sportvest.co.za}
    port: 587
    username: ${EMAIL_HOST_USER:cnel@sportvest.co.za}
    password: ${EMAIL_HOST_PASSWORD:efq4Fk@a$8x8hd}
    properties.mail.smtp:
      auth: true
      starttls.enable: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOACK_ISSUER_URI:https://keycloack.code-smith.co.za/auth/realms/codesmith}  #iss
          jwk-set-uri: ${KEYCLOACK_JWK_SET_URI:https://keycloack.code-smith.co.za/auth/realms/codesmith/protocol/openid-connect/certs}
#          issuer-uri: https://node.accutrak.co.za/auth/realms/accutrak  #
#          jwk-set-uri: https://node.accutrak.co.za/auth/realms/accutrak/protocol/openid-connect/certs

jwt:
  auth:
    converter:
      resource-id: allianceseeds
      principal-attribute: preferred_username  # Changed from principal_username


#logging:
#  level:
#    root: INFO
##    org.springframework.security: INFO # Optionally, set INFO level for specific packages
#
#  file:
#    name: logs/app.log
#    max-size: 10MB
#    max-history: 30
#
#  # Optional: Configure log file patterns (if you want to include date in filenames)
#  log:
#    pattern:
#      file: "logs/app-%d{yyyy-MM-dd}.log" # Pattern for rolling log files
#      console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n" # Console log patte

server:
  port: ${SERVER_PORT:9091}
#  tomcat:
#    max-http-post-size: 20000000
  servlet:
    context-path: /api/v1/
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB


env:
  keycloakSecret: ${KEYCLOAK_SECRET:secret}
  ADMIN_EMAIL:  ${ADMIN_EMAIL:justinpmsmith@outlook.com}
  BACKUP_ADMIN_EMAIL: ${BACKUP_ADMIN_EMAIL:justinpmsmith@outlook.com}






